.row-divisor {
  position: relative;
}

.row-divisor::before {
  content: '';

  /* Expand element */
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;

  box-shadow: 0 1px 0 #5356624e inset;
  /* Disable click events */
  pointer-events: none;
}
