@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #797e91;
  --blue: #5168f4;

  min-height: 100vh;

  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
